description = "test"

[viewBag]
snippetProperties[teste][title] = "teste"
snippetProperties[teste][type] = "dropdown"
snippetProperties[teste][default] = "teste"
snippetProperties[teste][options][] = "teste"

[staticPage]
useContent = 1
default = 0

[builderDetails builderDetails2]
modelClass = "iswtf\setinfo\Models\Sinfo"
identifierValue = "{{ id }}"
modelKeyColumn = "id"
displayColumn = "company"
notFoundMessage = "Record not found"
==
而我却热污染{{ staticPage.content|raw }}{% component 'staticPage' %}

{% set record = builderDetails2.record %}
{% set displayColumn = builderDetails2.displayColumn %}
{% set notFoundMessage = builderDetails2.notFoundMessage %}

{% if record %}
    {{ attribute(record, displayColumn) }}
{% else %}
    {{ notFoundMessage }}
{% endif %}